li.archived-run {
  opacity: 0.6;
  background-color: #FFFFFF;
}

h1.panel-title {
  font-size: 25px;
}

div.panel-heading {
  height: 58px;
}

div.panel-body .row {
  padding-left: 25px;
  padding-right: 25px;
}

div.run-overview div.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.dev-avatars-small {
  width: 35px;
  margin-right: 15px;
}

div#developmentDaysTooltip, div#devHolidaysTooltip {
  width: 600px;
  max-width: 100%
}

ul.run-counters h2 {
  font-size: 22px;
}

ul.run-counters h3 {
  font-size: 18px;
}

div.RunsList div.well {
  background-color: #f4f8ff;
}

div.run-counters span.box-label {
  color: #666666;
}

div.run-counters h1.box-data {
  margin-top: 3px;
  margin-bottom: 0;
  display: inline-block;
}

div.run-counters span.box-icon {
  font-size: 28px;
    width: 56px;
    text-align: center;
    line-height: 56px;
    background: #5bc0de;
    color: #fff;
    border-radius: 28px;
    margin-right: 10%;
}

div.run-counters span.xs {
  font-size: 10px;
  margin-right: 5px;
  margin-left: 0;
}

span.developer-holiday {
  display: inline-block;
  padding: 4px;
  margin: 4px;
}

div.box-details {
  margin-top: 6px;
  font-size: 0.9em;
}

div.icon-column {
  padding: 0;
}

div.react-calendar-timeline .rct-sidebar .rct-sidebar-header {
  background-color: #337ab7;
}

div.react-calendar-timeline .rct-header .rct-label-group {
  background-color: #337ab7;
}

.RunsList .react-calendar-timeline .rct-today {
  z-index: 2;
  background-color: #337ab7;
}

.RunsList .react-calendar-timeline .rct-items  {

  .rct-item {
    border: none;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #bbb;
  }

  .rct-item.version {
    font-size: 1em;
    background-color: #f4f8ff;
    color: #333;
  }

  .rct-item.development {
    background-color: #f4f8ff;
    color: #333;
  }

  .rct-item.total-week {
    font-size: 1em;
    background-color: #f4f8ff;
    color: #333;
  }

  .rct-item.fullday {
    background-color: #E7E6D9;
    color: #333;
  }

  .rct-item.halfday {
    background-color: #E7E6D9;
    color: #333;
  }

  .rct-item.holiday {
    background-color: #E7E6D9;
    color: #333;
  }

  .rct-item.freeze {
    font-size: 1em;
    background-color: #f4f8ff;
    color: #333;
  }
}

.rct-item-content {
    font-size: 0.85em;
}
